$outline: 2px solid red;

// text colors
$txt-black: #000;
$txt-red: #FF0000;
$txt-green: #119e2b;
$txt-purple: #4B4B99;

// colors
$gray: #939393;
$yellow: #FFDB4D;
$dark_yellow: #FFCC00;
$purple: #4B4B99;

// adaptive
$desktopB: 1280px;
$desktopS: 980px;
$tablet: 720px;
$phone: 320px;